.Article {
  position: relative;
  width: 400px;
  margin: 14px auto;
  text-decoration: none;
  color: #000;
}

.Article--title-container {
  background-color: #7080907a;
}

.Article--title {
  width: 90%;
  position: absolute;
  z-index: 1;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 16px;
  font-size: 2.2rem;
  text-shadow: -3px 4px 5px black;
}

.Article--image {
  width: 100%;
}

@media screen and (max-width: 450px) {
  .Article {
    .Article--title {
      font-size: 1.3rem;
    }
  }
}