.Popup {
  display: flex;
  justify-content: space-between;
  background-color: #1f1f1f;
  width: 95%;
  height: 70%;
  position: fixed;
  z-index: 1;
  margin: auto;
  top: 21%;
  color: #fff;
  left: 2.4%;

  .Popup--info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 40px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 300;
  }

  .Popup--facts {
    padding: 15px;
  }

  .Popup--author-pub {
    padding: 4% 0%;
  }

  .Popup--title {
    font-size: 2em;
    padding-top: 2%;
  }

  .Popup--image {
    width: 50%;
  }

  .Popup--star {
    position: absolute;
    top: 2%;
    background-color: #1f1f1f;
    padding: 10px 12px;
    border-radius: 50%;
    left: 94%;
    cursor: pointer;
    transition: all 500ms ease;

    &:hover {
      background-color: #424242;
    }
  }

  .Popup--close {
    position: absolute;
    background-color: #1f1f1f;
    top: 2%;
    padding: 10px 12px;
    border-radius: 50%;
    left: 88%;
    cursor: pointer;
    color: #000;
    transition: all 500ms ease;

    &:hover {
      background-color: #424242;
    }
  }
}

.Popup--buttons {
  margin-left: auto;
}

button {
  background-color: #727272;
  color: #fff;
  border: none;
  width: 130px;
  height: 42px;
  border-radius: 20px 20px 0px 0px;
  letter-spacing: 4px;
  font-weight: 500;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 500ms ease;

  &:hover {
    background-color: #424242;
  }

  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 1100px) {
  .Popup {
    flex-direction: column;
    display: flex;
    top: 10%;
    left: 1.4%;
    width: 97%;
    height: 80%;

    .Popup--info {
      overflow: scroll;
      font-size: 16px;
      padding-top: 0;
    }

    .Popup--author-pub {
      padding: 0%;
    }

    .Popup--facts {
      padding: 0px;
    }

    .Popup--title {
      font-size: 1.4em;
      padding-top: 2%;
    }

    .Popup--delete-fav {
      display: flex;
      justify-content: space-evenly;
      padding-top: 10px;

      .Popup--star {
        position: unset;
        background-color: #727272;
      }

      .Popup--close {
        position: unset;
        background-color: #727272;
      }
    }

    .Popup--buttons {
      text-align: center;
      margin: 0;
    }

    .Popup--image {
      margin: auto;
      height: 54%;
    }

    button {
      border-radius: 20px;
      font-size: 13px;
      width: 35%;
      height: 30px;
      margin-top: 10px;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 600px) {
  .Popup {
    .Popup--image {
      width: 75%;
    }
  }
}

@media screen and (max-width: 480px) {
  .Popup {
    .Popup--image {
      height: 45%;
    }
  }
}
