.Article {
  position: relative;
  width: 570px;
  border: 1px solid #000;
  margin: auto;
  text-decoration: none;
  color: #000;
}

.Article--title {
  position: relative;
  z-index: 1;
}

.Article--image {
  width: 100%;
}