.Header--quote-and-favorites {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.Header--Link {
  color: #000;
}

.Header--title {
  font-size: 3rem;
  text-align: right;
  margin: 0;
  padding-bottom: 10px;

  span {
    font-weight: 300;
  }
}

.Header--learn,
.Header--get-inspired {
  font-size: 2rem;
  margin-left: 20px;
  letter-spacing: 1px;
}

.Header--favorites {
  font-size: 1.5rem;
  text-align: right;
  text-decoration: underline;
  transition: all 500ms ease;

  span {
    font-weight: 300;
  }

  &:hover {
    font-size: 1.55rem;
  }
}

@media screen and (max-width: 500px) {
  .Header--quote-and-favorites {
    flex-direction: column;

    .Header--quote {
      display: none;
    }

    h3 {
      text-align: center;
      margin-top: 10px;
    }
  }
}
