.App {
  padding: 20px 30px;
  font-family: Roboto, sans-serif;

  .App--quote-and-favorites {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  h1 {
    text-align: right;
    margin: 0;
    padding-bottom: 10px;
    
    span {
      font-weight: 300;
    }
  }
  
  h3 {
    text-align: right; 
    
    span {
      font-weight: 300;
    }
  }
}
